* {
  box-sizing: border-box;
}

.side-bar {
  width: 300px;
  background-color: #253141;
  &__user-name{
    height: 100px;
    display: flex;
    align-items: center;

    .top-items{
      height: 20px;
      width: 260px;
      margin: 0px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      &__name{
        width: 200px;
        text-align: left;
        color: #ffffff;
      }

      &__icons{
        
        display: flex;
        justify-content: end;
        
        .btn1{
          margin-left: 5px;
          a {
            color: #ffffff;
            text-decoration: none;
          }
        }

      }

      

    }
  }
  &__group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    overflow: scroll;
    .group{
      background-color: #2f3e51;

      &__name {
        font-size: 15px;
        color: #ffffff;
        font-weight: bold;
        padding: 20px 20px 0px 20px;
       }

      &__message {
        font-size: 11px;
        color: #ffffff;
        font-weight: bold;
        padding: 5px 20px 40px 20px;
       }
      
      }

    

    }
  } 

.chat-main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  
  &__group-info{
    height: 100px;
    background-color: #ffffff;
  }
  &__message-list{
    background-color: #fafafa;
  }
  &__message-form{
    height: 90px;
    background-color: #d2d2d2;
  }

  .chat-main__group-info{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    .info-left{
      

      .group-name{
        color: #333333;
        font-size: 20px;
        padding-top: 35px;
      }

      .member-list{
        color: #999999;
        font-size: 12px;
        padding-top: 15px;
        display: flex;

        ul{
          padding-left: 5px;
          display: flex;

          li{
            padding-left: 5px
          }
        }
      }
    }

  

    .edit-button{
      font-size: 16px;
      color: #38aef0;
      padding: 0 20px;
      text-decoration: none;
      border: solid 1px #38aef0;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      }
    

  }
  .message__field{
    overflow: scroll;
    height: calc(100vh - 190px);
    background-color: #fafafa;
  
    .chat-main__message-list{
      padding-left: 40px;
      
      .message-info{
        display: flex;
        padding-top: 35px;
        margin-bottom: 12px;
        &__name{
          color: #333333;
          font-size: 16px;
        }

        &__date{
          color: #999999;
          font-size: 12px;
        }
      }
    }
  
    .message{
      color: #434A54;
      font-size: 14px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;

      .message__image{
        max-width: 200px;
      }
    }

  }

  .chat-main__message-form{
    
    padding: 20px 40px 20px 50px;
    align-items: center;
    
    .form {
      display: flex;
      justify-content: space-between;
      
    }

      .type-message{
        height: 50px;
        line-height: 50px;
        
        display: flex;
        width: 100%;
        

        .text{
          border: none;
          width: 100%;
          padding-left: 10px;
          position: relative;
        }

        .image{
          line-height: 50px;
          font-size: 30px;
          background-color: #fff;
          right: 170px;
          position: absolute;
            
          input{
              display: none;
            }
          }
      
      }

    .submit{
      color: #fff;
      background-color: #38aef0;
      padding: 0 30px;
      font-size: 16px;
      height: 50px;
      border: none;
      margin-left: 15px;
    }
    
  }


}